<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script>
        var app = angular.module("app", ['ngStorage']);
        app.controller("MainController", MainController);
        function MainController($scope, $http, $localStorage) {
            // IMPORTANT: REPLACE WITH YOUR OWN FIREBASE URL
            var url = 'https://burning-torch-7958.firebaseio.com/test';
            var vm = this;
            vm.storage = $localStorage.$default(getDefaultData());
            vm.postData = { yourData: "Type something here!" };
            vm.data = vm.storage.data;
            vm.post = post;
            vm.get = get;
            vm.put = put;
            vm.remove = remove;

            function post() {
                $http.post(url + '.json', vm.postData).then(function (response) {
                    vm.response = response;
                    var responseKey = response.data.name;
                    vm.storage.data.push({key: responseKey});
                });
            }
            function get(item) {
                $http.get(url + '/' + item.key + '.json').then(function (response) {
                    item.value = response.data.yourData;
                });
            }
            function put(item) {
//                $http.put(url + '/' + item.key + '.json', item).then(function (response) {
                $http.put(url + '/' + item.key + '.json', {'yourData': item.value}).then(function (response) {
                    vm.response = response;
                    item.clicked = false;
                    item.update = true;
                });
            }
            function remove(item) {
                $http.delete(url + '/' + item.key + '.json').then(function (response) {
                    vm.response = response;
                    vm.storage.data.splice(item, 1);
                });
            }
            function getDefaultData() {
                return{
                    data: []
                }
            }
        }
    </script>
</head>
<body ng-app="app">

<div ng-controller="MainController as vm">
    <p>
        Type something to POST to your Firebase here:
    </p>
    <input ng-model="vm.postData.yourData" size="40"/>
    <button ng-click="vm.post()">Send POST</button>
    <p>
        You just POSTed to key:
        {{ vm.response.data.name }}
    </p>

    <p>Retrieve data you POSTed earlier with GET:</p>
    <div ng-repeat="item in vm.data">
        <button ng-bind="'Click to GET data from Firebase with key ' + item.key"
                ng-click="vm.get(item); item.clicked = true; item.update = false"></button>
        <p ng-show="item.clicked">
            The data you POSTed earlier that is associated with this key is: <span><input ng-model="item.value"/> <button ng-click="vm.put(item)">Send Update</button></span>
        </p>
        <p ng-show="item.update">
            The data you PUTed earlier that is associated with this key is: <span><input ng-model="item.value"/> <button ng-click="vm.put(item)">Send Update</button></span>
        </p>
        <p><button ng-click="vm.remove(item)">Delete this entry</button></p>
    </div>
</div>

</body>
</html>